In [ ]:
#SYEDA ZAINAB FATIMA
#WS25-INT-PAK-A1-01
#OPERATORS

In [1]:
# ARITHEMATICS OPERATORS
#SUM
a = 15
b = 20
sum= 15+20
print(sum)

c=3
d=5
sum=c+d
print(sum)

e = 5
f = 10
sum = e+f
print(sum)

num1 = 10
num2 = 15
sum = num1 + num2
print(sum)

num_1 = 20
num_2= 30
sum = num_1+num_2
print(sum)

35
8
15
25
50

In [4]:
#SUBTRACTION
a = 15
b = 20
SUBTRACTION= 15-20
print(SUBTRACTION)

c=3
d=5
SUBTRACTION=c-d
print(SUBTRACTION)

e = 5
f = 10
SUBTRACTION = e-f
print(SUBTRACTION)

num1 = 10
num2 = 15
SUBTRACTION = num1 - num2
print(SUBTRACTION)

num_1 = 20
num_2 =30
SUBTRACTION =num_1+num_2
print(SUBTRACTION)

-5
-2
-5
-5
50

In [5]:
# DIVISION
a = 30
b = 5
division = a/b
print(division)

c = 20
d = 4
division = c/d
print(division)

e = 10
f = 2
division = e/f
print(division)

num1 = 10
num2 = 5
division = num1/num2
print(division)

num_1 = 20
num_2 = 4
division = num_1/num_2
print(division)

6.0
5.0
5.0
2.0
5.0

In [6]:
# MULTIPLICATION
a = 5
b = 3
multiplication = a*b
print(multiplication)

c = 4
d = 2
multiplication = c*d
print(multiplication)

e = 11
f = 5
multiplication = e*f
print(multiplication)

num1 = 3
num2 = 2
multiplication = num1*num2
print(multiplication)

num_1 = 5
num_2 = 4
multiplication = num_1*num_2
print(multiplication)

15
8
55
6
20

In [7]:
#MODULUS
a = 10
b = 3
modulus = a%b
print(modulus)

c = 15
d = 4
modulus = c%d
print(modulus)

e = 25
f = 5
modulus = e%f
print(modulus)

num1 = 15
num2 = 3
modulus = num1%num2
print(modulus)

num_1 = 18
num_2 = 4
modulus = num_1%num_2
print(modulus)

1
3
0
0
2

In [10]:
#ASSIGNMENT OPERATORS
#EQUALS
a = 4
b = 2
print(a)
print(b)

c = 5
d = 3
print(c)
print(d)

num1=2
num2=1
print(num1)
print(num2)

var_1 = 15
var_2 =20
print(var_1)
print(var_2)

number_a = 25
number_b = 30
print(number_a)
print(number_b)

4
2
5
3
2
1
15
20
25
30

In [11]:
#+=
a = 5
a +=4
print(a)

b=15
b += 5
print(b)

d=10
d +=20
print(d)

z = 30
z +=5
print(z)

x = 50
x +=20
print(x)

9
20
30
35
70

In [12]:
#-=
a = 20
a -= 10
print(a)

b = 50
b -=10
print(b)

x = 40
x -= 20
print(x)

y = 15
y -=5
print(y)

v = 70
v -=40
print(v)

10
40
20
10
30

In [14]:
# *=
a = 3
a *= 3
print(a)

b= 4
b *=4
print(b)

c = 2
c *=5
print(c)

d = 10
d *=6
print(d)

e = 7
e *=7
print(e)

9
16
10
60
49

In [15]:
# /=
a = 10
a /=2
print(a)

b = 20
b /=10
print(b)

c = 30
c /=15
print(c)

d = 40
d /=20
print(d)

e = 50
e /=25
print(e)

5.0
2.0
2.0
2.0
2.0

In [16]:
# %=
a = 10
a %= 2
print(a)

b = 10
b %= 3
print(b)

c = 20
c %= 4
print(c)

d = 50
d %= 5
print(d)

e = 36
e %= 6
print(e)

0
1
0
0
0